@import 'normalize.scss';
html{
  height:100%;
  width:100%;
  display:block;
  position:relative;
  font-size:62.5%;
  font-family: Roboto, sans-serif;

}
body{
  background:white;
  display:block;
  position:relative;
  height:100%;
  width:100%;
  margin:auto;
}
a{
  color: #039be5;
  background-color: transparent;
  text-decoration: none;
  -webkit-tap-highlight-color: transparent;
}
.right{
  float:right !important;
}
.left{
  float:left!important;
}
ul{
  list-style-type: none;
  li{
    list-style-type: none;
  }
}
.loader{
  position:absolute;
  top:50%;
  left:50%;
  transform:translate(-50%,-50%);
}
.expand-transition {
  transition: all .3s ease;
  background-color: white;
  opacity:1;
}

.expand-enter, .expand-leave {
  opacity: 0;
}
.progress{
  width: 100%;
  background-color: #acece6;
  border-radius: 2px;
  margin: 0.5rem 0 1rem 0;
  overflow: hidden;
  height:4px;
  display:block;
  position:relative;
  .indeterminate{
    background-color: #26a69a;
    &:before{
      content: '';
      position: absolute;
      background-color: inherit;
      top: 0;
      left: 0;
      bottom: 0;
      will-change: left, right;
      animation: indeterminate 2.1s cubic-bezier(0.65, 0.815, 0.735, 0.395) infinite;
    }
    &:after{
      content: '';
      position: absolute;
      background-color: inherit;
      top: 0;
      left: 0;
      bottom: 0;
      will-change: left, right;
      animation: indeterminate-short 2.1s cubic-bezier(0.165, 0.84, 0.44, 1) infinite;
      animation-delay: 1.15s;
    }
  }
}
@keyframes indeterminate {
  0% {
    left: -35%;
    right: 100%
  }

  60% {
    left: 100%;
    right: -90%
  }

  100% {
    left: 100%;
    right: -90%
  }
}

@keyframes indeterminate-short {
  0% {
    left: -200%;
    right: 100%
  }

  60% {
    left: 107%;
    right: -8%
  }

  100% {
    left: 107%;
    right: -8%
  }
}
@import 'components/titleview.scss';
@import 'components/newsitemcomments.scss';
@import 'components/newsitemdetail.scss';
@import 'components/newsitemview.scss';
@import 'components/loader.scss';
@import 'components/userview.scss';
