html,body{
  background:#eee;
  display:block;
  position:relative;
  height:100%;
  width:100%;
}
@import 'components/titleview.scss';
@import 'components/newsitemcomments.scss';
@import 'components/newsitemdetail.scss';
@import 'components/newsitemview.scss';
