@import 'normalize.scss';
html,body{
  background:#eee;
  display:block;
  position:relative;
  height:100%;
  width:94%;
  margin:auto;
}
a{
  color: #039be5;
  background-color: transparent;
  text-decoration: none;
  -webkit-tap-highlight-color: transparent;
}
.right{
  float:right !important;
}
.left{
  float:left!important;
}
ul{
    list-style-type: none;
  li{
    list-style-type: none;
  }
}
.loader{
  position:absolute;
  top:50%;
  left:50%;
  transform:translate(-50%,-50%);
}
@import 'components/titleview.scss';
@import 'components/newsitemcomments.scss';
@import 'components/newsitemdetail.scss';
@import 'components/newsitemview.scss';
@import 'components/loader.scss';
